/.idea
/vendor
/node_modules
/build
/src/GXModules/Gambio/Store/Build
/docker/*
!/docker/boilerplate
/*.zip
/.phpdoc
/**/.phpunit.result.cache
/docs/build
/docs/metrics
/docs/coverage
/docs/lint
/docs/reference
/badges