<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/7.0/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         forceCoversAnnotation="false"
         beStrictAboutCoversAnnotation="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTodoAnnotatedTests="true"
         verbose="true">
	
	<!-- PHPUnit filter for code coverage -->
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="false">
			<directory suffix=".php">src/GXModules</directory>
		</whitelist>
	</filter>
</phpunit>
